.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.settings-table, .settings-table td {
    border-collapse: collapse;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.settings-table tr:hover {
    /*background-color: lightgray;*/
}

.cell-border:hover {
    stroke-opacity: 1;
}