.chessboard, .chessboard td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 0px;
}

.cell-text {
    padding-left: 40%;
    padding-top: 40%;
}

.cell-img {
    max-height: 100%;
    max-width: 100%;
}

.black-cell {
    color: white;
    background-color: lightseagreen;
}

.white-cell {
    color: black;
    background-color: white;
}

.checked-cell {
    color: black;
    background-color: deeppink;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}