.table-of-elems-to-learn, .table-of-elems-to-learn td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 0px;
}

.cursor-pointer-on-hover:hover {
    cursor: pointer;
}

.with-yellow-outline-on-hover:hover {
    outline: 3px solid yellow;
}

.with-red-outline-on-hover:hover {
    outline: 3px solid red;
}

.with-blue-outline-on-hover:hover {
    outline: 3px solid blue;
}

.elem-to-learn-cell {
    text-align: center;
}